@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'),
    url(../assets/font/Pretendard-Bold.woff2) format('woff2'),
    url(../assets/font/Pretendard-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'),
    url(../assets/font/Pretendard-Medium.woff2) format('woff2'),
    url(../assets/font/Pretendard-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: local('Pretendard Light'),
    url(../assets/font/Pretendard-Light.woff2) format('woff2'),
    url(../assets/font/Pretendard-Light.woff) format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: local('Pretendard Thin'),
    url(../assets/font/Pretendard-Thin.woff2) format('woff2'),
    url(../assets/font/Pretendard-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Crayon';
  font-weight: 300;
  src: local('Pretendard Bold'),
    url(../assets/font/Typo_CrayonM.woff) format('woff'),
    url(../assets/font/Typo_CrayonM.ttf) format('truetype');
}
*,
html {
  font-family: 'Pretendard', sans-serif;
}
body {
  font-family: 'Pretendard', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
