:root {
  --margin: 300px;
  --perspective: 1800px;
  --transition: transform 1s 0.2s, z-index 0s 0.5s;
  --yellow: #e0dccd;
}

.pages_page {
  width: 50%;
  position: absolute;
  right: 0px;
  height: 100%;
  transform-origin: 0 50%;
  pointer-events: all;
  border: 0.5px dashed rgb(0, 0, 0);
}

.container {
  margin: 0;
  padding: 0;
  background: #fcf390;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.pages {
  width: calc(100% - var(--margin));
  height: calc(100% - var(--margin));
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  perspective: var(--perspective);
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.3);
  max-width: 1300px;
  max-height: 650px;
}

.img1 {
  position: absolute;
  top: 0%;
  left: 3%;
  transform: translate(-50%, -50%);
  z-index: 50;
  width: 15%;
}

.img2 {
  position: absolute;
  bottom: -30%;
  right: -15%;
  transform: translate(-50%, -50%);
  z-index: 50;
  width: 15%;
}

.img3 {
  position: absolute;
  top: -10%;
  left: 15%;
  transform: translate(-50%, -50%);
  z-index: 50;
  width: 5%;
}

.img4 {
  position: absolute;
  bottom: -25%;
  right: 7%;
  transform: translate(-50%, -50%);
  z-index: 50;
  width: 5%;
}

.img5 {
  position: absolute;
  bottom: 0%;
  left: -6%;
  transform: translate(-50%, -50%);
  z-index: 50;
  width: 5%;
}

.img6 {
  position: absolute;
  top: 10%;
  right: -12%;
  transform: translate(-50%, -50%);
  z-index: 50;
  width: 5%;
}

.img7 {
  position: absolute;
  bottom: -22%;
  left: 5%;
  transform: translate(-50%, -50%);
  z-index: 50;
  width: 3%;
}

.img8 {
  position: absolute;
  top: -10%;
  right: 3%;
  transform: translate(-50%, -50%);
  z-index: 50;
  width: 3%;
}

body .pages input {
  display: none;
}

.pages_page {
  pointer-events: none;
  float: right;
  transform-style: preserve-3d;
  transition: var(--transition);
}

body .pages_page:nth-of-type(1) {
  z-index: 9;
}
body .pages_page:nth-of-type(2) {
  z-index: 8;
}
body .pages_page:nth-of-type(3) {
  z-index: 7;
}
body .pages_page:nth-of-type(4) {
  z-index: 6;
}
body .pages_page:nth-of-type(5) {
  z-index: 5;
}
body .pages_page:nth-of-type(6) {
  z-index: 4;
}
body .pages_page:nth-of-type(7) {
  z-index: 3;
}
body .pages_page:nth-of-type(8) {
  z-index: 2;
}
body .pages_page:nth-of-type(9) {
  z-index: 1;
}
body .pages_page:nth-of-type(10) {
  z-index: 0;
}
body .pages_page:nth-of-type(1) {
  left: 0;
  z-index: 0;
  transform: rotateY(0deg) !important;
  pointer-events: none;
}
body .pages_page:nth-of-type(1) .pages_page__inner {
  transform: rotateY(0deg) !important;
}
body .pages_page:nth-of-type(2) {
  pointer-events: all;
}
body .pages_page:nth-of-type(odd) .pages_page__inner {
  transform: rotateY(180deg);
}
.pages_page__inner {
  background: white;
}

body .pages_page__inner {
  width: 100%;
  height: 100%;
}

body .pages_page__inner .control {
  position: absolute;
  z-index: 1;
  width: 31px;
  height: 31px;
  border: 1px solid var(--yellow);
  border-radius: 50px;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  cursor: pointer;
  transition: all 0.23s;
  box-shadow: 0 0 0 0px #fcf390;
}

body .pages_page__inner .control.next {
  left: auto;
  right: 30px;
}

body .pages_page__inner .control label {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

body .pages_page__inner .content {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 0;
  transform: translateZ(0px);
  width: 100%;
  height: 100%;
}

.image_wrapper {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.content_wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: 'Crayon', sans-serif;
  font-size: 1.4vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/images/bookcontent.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content_text {
  width: 90%;
  height: 70%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_username {
  width: 70%;
  height: 20%;
  text-align: right;
}
